<a href="https://colab.research.google.com/github/B1501/Charitha_INFO5502_Spring2022/blob/main/lab_assignment_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **The second Lab-assignment (02/04/2022, 50 points in total)**

# Question 1

(5 points). Write a Python program to generate 12 random numbers between 1 and 100. Sort the list of numbers in ascending order and print it out. Sort the list of numbers in descending order and print it out. Calculate the average for the group and print it out.

In [ ]:
# Your code here
import random

store_ran = random.sample(range(0, 100), 12)
#storing the random numbers in the store_random_copy variable
store_random_copy = store_ran

ascen_random=[]
descen_random=[]
#printing the random values
print("list of random numbers: "+str(store_ran))
#logic to print the numbers in ascending we used min function
for s in range(len(store_random_copy)):
    min_num=min(store_ran)
    ascen_random.append(min_num)
    store_ran.remove(min_num)
#logic to print the numbers in descending
for s in range(len(ascen_random)):
    k=ascen_random[-(s+1)]
    descen_random.append(k)
avg_ascen_random=sum(ascen_random)/len(ascen_random)

print("ascending order: "+str(ascen_random))
print("descending order: "+str(descen_random))
print("average: "+str(avg_ascen_random))

list of random numbers: [65, 84, 60, 20, 27, 70, 54, 87, 14, 55, 90, 26]
ascending order: [14, 20, 26, 27, 54, 55, 60, 65, 70, 84, 87, 90]
descending order: [90, 87, 84, 70, 65, 60, 55, 54, 27, 26, 20, 14]
average: 54.333333333333336

# Question 2
(20 points). Write a program that will do the following string formatting tasks:

(1) Ask the user to enter two sentences.

(2) Make each sentence into a list. Each element in the list should correspond to a word in the sentence. For example, if the sentence is "Alas! Am I alive? This is my first python program", the program should print out ['Alas, '!', 'Am', 'I', 'alive, '?', 'This', 'is', 'my', 'first', 'python', 'program'].

(3) Compare the two sentences. Print out a list of words that occur in both sentences.

(4) Remove any punctuation from the sentence and print it back out. It should remove at least the following characters, but it can remove more: period(“.”), comma (“,”), semicolon (“;”), and colon (“:”)

(5) Count the number of vowels in the sentences. Print out each vowel and the number of times it appears in the sentences, such as: a:2, e:1, i:0, etc

In [ ]:
import re
#enter two sentences
frst=input()
secnd=input()
frst=frst.casefold()
secnd=secnd.casefold()
lst1=re.findall(r"[\w]+|[^\s\w]",frst)
lst2=re.findall(r"[\w]+|[^\s\w]",secnd)
lst3=set({})
a1=e1=i1=o1=u1=0
a2=e2=i2=o2=u2=0
#storing list of words in a sentence
print(lst1)
print(lst2)
#Finding Common words between two sentences
for i in range(0,len(lst1)):
    for j in range(0,len(lst2)):
        if lst1[i].lower()==lst2[j].lower():
         lst3.add(lst1[i])
         break
print(list(lst3))  
st3=""
#removing puncuations from sentences and counting vowels 
p='''%^&*_};)-[:'"\,<>./?@#!(]{$~'''
for ch in frst:
#counting vowels in a sentence
    if ch=='a' or ch=='e' or ch=='i' or ch=='o' or ch=='u':
        if ch=='a':
            a1=a1+1
        if ch=='e':
            e1=e1+1 
        if ch=='i':
            i1=i1+1
        if ch=='o':
            o1=o1+1 
        if ch=='u':
            u1=u1+1
#removing punchuations from sentences
    if ch in p:
        continue
    st3=st3+ch
strn4=""
for ch in secnd:
    if ch=='a' or ch=='e' or ch=='i' or ch=='o' or ch=='u':
        if ch=='a':
            a2=a2+1
        if ch=='e':
            e2=e2+1 
        if ch=='i':
            i2=i2+1 
        if ch=='o':
            o2=o2+1 
        if ch=='u':
            u2=u2+1
    if ch in p:
        continue
    strn4=strn4+ch
print(st3)
print(strn4)
print("vowels in sentence 1:")
print("a:"+str(a1)+" e:"+str(e1)+" i:"+str(i1)+" o:"+str(o1)+" u:"+str(u1))
print("vowels in sentence 2:")
print("a:"+str(a2)+" e:"+str(e2)+" i:"+str(i2)+" o:"+str(o2)+" u:"+str(u2))

Alas! Am I alive? This is my first python program
My name is charitha I am from india
['alas', '!', 'am', 'i', 'alive', '?', 'this', 'is', 'my', 'first', 'python', 'program']
['my', 'name', 'is', 'charitha', 'i', 'am', 'from', 'india']
['i', 'am', 'is', 'my']
alas am i alive this is my first python program
my name is charitha i am from india
vowels in sentence 1:
a:5 e:1 i:5 o:2 u:0
vowels in sentence 2:
a:5 e:1 i:5 o:1 u:0

# Question 3 

(5 points). The formula that describes the volume V of a sphere with radius r is the following:

$ V=\frac{4}{3}\ast\ \pi\ast\ r^3 $

Write a program to calculate the value of V when r is in the range of 1–10. Output the result in the following format:

	r	V
	1	…
	2	…
	3	…

In [ ]:
#importing math to calculate pi value
import math
print('r','v')
for l in range(1,11):
  #formula for calculating the volume of sphere
  vol_of_sphere=(4/3)*math.pi*l**3
  print(l,vol_of_sphere)

r v
1 4.1887902047863905
2 33.510321638291124
3 113.09733552923254
4 268.082573106329
5 523.5987755982989
6 904.7786842338603
7 1436.7550402417319
8 2144.660584850632
9 3053.6280592892786
10 4188.790204786391

# Question 4

(20 points). In the field of Data Science, data is often formatted as a comma-delimited (CSV) file, where each line in a file corresponds to a field's value. Refer to Chapter 9 (p. 106) for more information on comma-delimited files. To answer this question, you will need to download the file [lab_assignment_02_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5502-spring2022/main/datasets/lab_assignment_02_denton_housing.csv) included with this assignment. The file [lab_assignment_02_denton_housing.csv](https://raw.githubusercontent.com/unt-iialab/info5502-spring2022/main/datasets/lab_assignment_02_denton_housing.csv) contains statistics about housing in the city of Denton from 2008 to 2014. Write a program to implement the following questions.

(1) (10 pts) Calculate the difference in the number of Occupied Housing Units from year to year and print it. The difference must be calculated for the consecutive years such as 2008-2009, 2009-2010 etc. Finally, print the values in the ascending order.

(2) (10 pts) For all the years, calculate the percentage of housing units which are vacant an occupied. Print the results in the following format:

Year Vacant Housing Units Occupied Housing Units

    2008  30%   70%                          
	2009 ----- -----
	2010 ----- -----
    2011 ----- -----
	2012 ----- -----
    2013 ----- -----
	2014 ----- -----
  
  

(3) (10 pts) Calculate and print the valued and years in which the highest number of housing units were vacant and occupied. Print the results in the following format:  

                              Year	Value
	Vacant Housing Units	  -----   -----
	Occupied Housing Units	-----   -----

(4) (10 pts) Calculate the harmonic mean of the total housing units and print it out. You can find the information about harmonic mean here: https://ncalculators.com/statistics/harmonic-mean-calculator.htm

In [ ]:
#importing pandas pacakge to retrieve the data
import pandas as pd
data_housing=pd.read_csv("C:/Users/cherr/OneDrive/Documents/Desktop/INFO-5502/lab_assignment_02_denton_housing.csv")
data_housing

    year             title_field  value
0   2014     Total Housing Units  49109
1   2014    Vacant Housing Units   2814
2   2014  Occupied Housing Units  46295
3   2013     Total Housing Units  47888
4   2013    Vacant Housing Units   4215
5   2013  Occupied Housing Units  43673
6   2012     Total Housing Units  45121
7   2012    Vacant Housing Units   3013
8   2012  Occupied Housing Units  42108
9   2011     Total Housing Units  44917
10  2011    Vacant Housing Units   4213
11  2011  Occupied Housing Units  40704
12  2010     Total Housing Units  44642
13  2010    Vacant Housing Units   3635
14  2010  Occupied Housing Units  41007
15  2009     Total Housing Units  39499
16  2009    Vacant Housing Units   3583
17  2009  Occupied Housing Units  35916
18  2008     Total Housing Units  41194
19  2008    Vacant Housing Units   4483
20  2008  Occupied Housing Units  36711
21  2014          Owner Occupied  21427
22  2014         Renter Occupied  24868
23  2013          Owner Occupied  20845
24  2013         Renter Occupied  22828
25  2012          Owner Occupied  20068
26  2012         Renter Occupied  22040
27  2011          Owner Occupied  18478
28  2011         Renter Occupied  22226
29  2010          Owner Occupied  18867
30  2010         Renter Occupied  22140
31  2009          Owner Occupied  18057
32  2009         Renter Occupied  17859
33  2008          Owner Occupied  17340
34  2008         Renter Occupied  19371
35  2014       Median Gross Rent    905
36  2013       Median Gross Rent    887
37  2012       Median Gross Rent    842
38  2011       Median Gross Rent    821
39  2010       Median Gross Rent    780
40  2009       Median Gross Rent    769
41  2008       Median Gross Rent    768

In [ ]:
#calculating the percentage of vacant and occupied houses for each year
field = data_housing.loc[(data_housing["title_field"]=="Occupied Housing Units") , ["title_field", 'value']]
#calculating the difference for each year
data_diff = [['2008-2009', 35916-36711],['2009-2010', 41007-35916],['2010-2011', 40704-41007],['2011-2012', 42108-40704],['2012-2013', 43673-42108],['2013-2014', 46295-43673]]  
B = pd.DataFrame(data_diff, columns = ['Years', 'Diff_occupied_units'])
occupied_units_by_diff = B.sort_values('Diff_occupied_units') 

print(occupied_units_by_diff)

       Years  Diff_occupied_units
0  2008-2009                 -795
2  2010-2011                 -303
3  2011-2012                 1404
4  2012-2013                 1565
5  2013-2014                 2622
1  2009-2010                 5091

In [ ]:
each_year = sorted(list(data_housing['year'].unique()))   # printing the list of years

# number of ocupied housing units in each year
occupied_houses_units = data_housing[data_housing['title_field'] == 'Occupied Housing Units'].sort_values(by=['year'])

# number of vacant housing units in each year
vacant_houses_units = data_housing[data_housing['title_field'] == 'Vacant Housing Units'].sort_values(by=['year'])

housing_units_df = pd.DataFrame()
housing_units_df['year'] = each_year
housing_units_df['Vacant_Houses'] = vacant_houses_units['value'].values
housing_units_df['Occupied_Houses'] = occupied_houses_units['value'].values
#printing the percentage of vacant houses for each year
housing_units_df['% of Vacant Houses'] = [(housing_units_df['Vacant_Houses'][k] * 100) /\
                                           (housing_units_df['Vacant_Houses'][k] + housing_units_df['Occupied_Houses'][k])\
                                           for k in range(len(housing_units_df))]
#printing the percentage of occupied houses for each year
housing_units_df['% of Occupied Houses'] = [(housing_units_df['Occupied_Houses'][k] * 100) /\
                                           (housing_units_df['Vacant_Houses'][k] + housing_units_df['Occupied_Houses'][k])\
                                           for k in range(len(housing_units_df))]
housing_units_df

,year,Vacant_Houses,Occupied_Houses,% of Vacant Houses,% of Occupied Houses
0,2008,4483,36711,10.882653,89.117347
1,2009,3583,35916,9.071116,90.928884
2,2010,3635,41007,8.142556,91.857444
3,2011,4213,40704,9.379522,90.620478
4,2012,3013,42108,6.677600,93.322400
5,2013,4215,43673,8.801788,91.198212
6,2014,2814,46295,5.730111,94.269889

In [ ]:
# printing the highest number of houses which are vacant
max_vacant_houses = max(data_housing[data_housing['title_field'] == 'Vacant Housing Units'].value)
#logic to print the vacant houses which are higher
vacant_houses_units = vacant_houses_units[vacant_houses_units['value'] == max_vacant_houses]
vacant_houses_units

    year           title_field  value
19  2008  Vacant Housing Units   4483

In [ ]:
# the highest number of houses which are occupied
max_occuped_houses = max(data_housing[data_housing['title_field'] == 'Occupied Housing Units'].value)
#logic to print the occupied houses which are higher
occuped_houses_units = occuped_houses_units[occuped_houses_units['value'] == max_occuped_houses]
occuped_houses_units

   year             title_field  value
2  2014  Occupied Housing Units  46295

In [ ]:
#importing statistics pacakge to calculate the mean value
import statistics
#printing the mean value by calculating the total housing units by taking the value as field
print(statistics.harmonic_mean(list(data_housing[data_housing['title_field'] == 'Total Housing Units'].value)))

44398.28543969185