<a href="https://colab.research.google.com/github/B1501/Charitha_INFO5502_Spring2022/blob/main/lab_assignment_03.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## The third Lab-assignment (02/10/2022, 50 points in total)

The purpose of this exercise is to understand users' information needs, then collect data from different sources for analysis.

Question 1 (10 points). Fomulate your domain problem: Describe an interesting research question (or practical question) you have in mind, what kind of data should be collected to answer the question(s)? How many data needed for the analysis? The detail steps for collecting and save the data.

In [ ]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):

'''
Please write you answer here:
My Research Question is to find out the List of all members of Indian parliament for all the 539 constituencies. 
Data collection has been done as per their constituency name, party name and member name. 
To get the data all 539 elected members we used packages,I have used the website of Indian Parliament(loksabha) to fetch the data.
This is the very interesting research to find out the and collect the data from the site.

Steps for collecting and saving the data from the loksabha website:

I have used Beautiful Soup package to collect the data from the website. 
I have collected the data of each member name, party name and constituency.
I have fetched the data from the website by calling the table id value(where data of all members got stored from html content)
we have dumped the data by checking the every columns in the webiste by clicking on the inspect option and then using pandas library, i have converted this fetched data to .csv file using df_table.















'''

Question 2 (10 points). Collect your data to answer the research problem: Write python code to collect 1000 data samples you discussed above.

In [ ]:
import requests
from bs4 import BeautifulSoup #imported BeautifulSoap, Requests and pandas packages
import pandas as pd

url = "http://164.100.47.194/Loksabha/Members/AlphabeticalList.aspx" #Fetched the data from this url
req = requests.get(url)
soup = BeautifulSoup(req.text, 'html.parser') #using BeautifulSoup package parsed the data from html

table = str(soup.find('table', {'class': 'member_list_table'}))#searching for table with html class. Found this through inspecting web browser output

df_tables = pd.read_html(table)[0] #dumping data into dataframe using pandas.

df_tables.to_csv("members.csv", index=False) #converting dataframe to .csv file with 539 members data
df_500=df_tables.head(500)
df_500.to_csv("500members.csv", index=False) #converting dataframe to .csv file with 500 members data
df_500

     Sl. No  ...          Constituency (State)
0         1  ...     Nilgiris (SC)(Tamil Nadu)
1         2  ...   Chitradurga (SC)(Karnataka)
2         3  ...  Srinagar (Jammu and Kashmir)
3         4  ...          Ghatal (West Bengal)
4         5  ...          Tamluk (West Bengal)
..      ...  ...                           ...
495     496  ...     Virudhunagar (Tamil Nadu)
496     497  ...      Almora (SC)(Uttarakhand)
497     498  ...          Raigad (Maharashtra)
498     499  ...             Dibrugarh (Assam)
499     500  ...       Anandpur Sahib (Punjab)

[500 rows x 4 columns]

Question 3 (10 points). Understand the data quality: Search a second hand dataset (any dataset) from kaggle or other websites. Describe the data quality problem of the dataset and explain your strtegy to clean the data.

In [ ]:
# Your answer here (no code for this question, write down your answer as detail as possible for the above questions):
'''

Please write you answer here: 
1)I have taken Data scientist Salary dataset from kaggle which describes about the Age, Skills, experience and education ,company,job position,location and so on
I found some missing values which are '-1' as null values for few columns replaced it with Nan but some are object and int columns so it was done for both
For object column we replaced it with 'mode' and we have checked for the categorical and numerical columns and modifed with the null values
For index columns there is no use of that column for prediction so I have removed that index column from the dataset
As going deep into the dataset found some duplicate columns which are repeating so I removed the repated columns from the dataset
As data is showing in the form of right skewed and left skewed manner so replaced it with the median inorder to clean the data properly
At last I checked the if there is any null values or not then i did'nt find any null values

2)Checked by comparing both the columns for false values and modified next for the index 300 and 456 there is no name that is missing 
so we replace it with the original company name for both the index. 
There are some False values which have last word alphabet that is not present in "company_txt" column.
So we dropped the  company text and also compare column which is  created for crosscheck

3) there are outliers in Age column.For this we can use a histogram and box plot to detect outliers which is similar to missing data
so we have modified the outliers using IQR method which is used to identify the outliers and clean the data for better use and for preditcion 







'''

Question 4 (20 points). Data cleaning: There are two datasets TwADR-L (from Twitter) and AskAPatient (Link: https://zenodo.org/record/55013#.YgU2NN-ZO4T) for medical concept
normalization. However, the two datasets have serious data quality problems. Please read the introduction of the datasets and clean the two datasets by following the steps in the statement.

In the original dataset, the TwADR-L had 48,057 training, 1,256 validation and 1,427 test examples. The test set (all
test samples from 10 folds combined) consists of 765 unique phrases and 273 unique classes (medical concepts). The AskAPatient dataset contained 156,652 training, 7,926 validation, and 8,662 test examples. The entire test set (all test samples
from 10 folds combined) consists of 3,749 unique phrases and 1,035 unique classes (medical concepts). The authors
randomly split each dataset into ten equal folds, ran 10-fold cross validation and reported the accuracy averaged across the
ten folds. 

We found that, in the original data set, many phrase-label pairs appeared multiple times within the same training data file
and also across the training and test data sets in the same fold. In the AskAPatient data set, on average 35.82% of the test data overlapped with training data in the same fold. In the Twitter (TwADR-L) dataset, on average 8.62% of the test set had an overlap with the training data in the same fold. Having a large overlap between the training and the test data can potentially
introduce bias in the model and contribute to high accuracy. It is not unlikely that the high model performance reported in the original paper may be triggered by the the large overlap between the training and test sets.

Therefore to remove the bias, we further cleaned and recreated the training, validation, and test sets such that each
phrase-label pair appears only once in the entire dataset (either in training, validation or test set).

(1) First, we combined all examples in training, validation and test data from the original data set and then removed all
duplicate phrase-label pairs (examples that have the same phrase and label pair and appear more than once in training/validation/test datasets). Table II shows the statistics of the new dataset (after removing duplicates). The Twitter data set had 3,157 unique phrase-label pairs and 2,220 unique labels (medical concepts) while 173 phrases had multiple labels (i.e., they were assigned to more than one label). Many concepts had only one example, and the concept that had the most number
of examples had 36 phrases. On average, each concept had 1.42 examples. The AskAPatient data set had 4,496 unique phrase-label pairs, 1,036 unique labels while 26 phrases had multiple labels. Table III shows examples of phrases that had multiple labels. For example, ‘mad’ can be mapped to ‘anger’ or ‘rage’ and ‘sore’ can be mapped to ‘pain’ or ‘myalgia’.

(2) Second, we remove all concepts that had less than five examples. The statistics of the final data are shown in Table IV.

(3) Third, we divide all examples without multiple labels into random 10 folds such that each unique phrase-label pair
appears once in one of the 10 test sets. We add the pairs with multiple labels into the training data. This final 10-folds
dataset is used in all our experiments.

(The original paper can be download on canvas)

In [ ]:
# You code here (Please add comments in the code):
import glob
import requests
from bs4 import BeautifulSoup
import numpy as np
import time
import pandas as pd
import csv

In [ ]:
#uploaded the zip and extracted all the text files in the zip folder
!unzip /content/sample_data/datasets.zip

Archive:  /content/sample_data/datasets.zip
   creating: datasets/
  inflating: datasets/.DS_Store
   creating: __MACOSX/
   creating: __MACOSX/datasets/
  inflating: __MACOSX/datasets/._.DS_Store
   creating: datasets/AskAPatient/
  inflating: datasets/AskAPatient/AskAPatient.fold-0.test.txt
   creating: __MACOSX/datasets/AskAPatient/
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-0.test.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-0.train.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-0.train.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-0.validation.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-0.validation.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-1.test.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-1.test.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-1.train.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-1.train.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-1.validation.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-1.validation.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-2.test.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-2.test.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-2.train.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-2.train.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-2.validation.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-2.validation.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-3.test.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-3.test.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-3.train.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-3.train.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-3.validation.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-3.validation.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-4.test.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-4.test.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-4.train.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-4.train.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-4.validation.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-4.validation.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-5.test.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-5.test.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-5.train.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-5.train.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-5.validation.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-5.validation.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-6.test.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-6.test.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-6.train.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-6.train.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-6.validation.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-6.validation.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-7.test.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-7.test.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-7.train.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-7.train.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-7.validation.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-7.validation.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-8.test.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-8.test.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-8.train.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-8.train.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-8.validation.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-8.validation.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-9.test.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-9.test.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-9.train.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-9.train.txt
  inflating: datasets/AskAPatient/AskAPatient.fold-9.validation.txt
  inflating: __MACOSX/datasets/AskAPatient/._AskAPatient.fold-9.validation.txt
   creating: datasets/TwADR-L/
  inflating: datasets/TwADR-L/TwADR-L.fold-0.test.txt
   creating: __MACOSX/datasets/TwADR-L/
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-0.test.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-0.train.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-0.train.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-0.validation.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-0.validation.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-1.test.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-1.test.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-1.train.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-1.train.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-1.validation.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-1.validation.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-2.test.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-2.test.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-2.train.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-2.train.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-2.validation.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-2.validation.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-3.test.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-3.test.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-3.train.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-3.train.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-3.validation.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-3.validation.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-4.test.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-4.test.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-4.train.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-4.train.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-4.validation.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-4.validation.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-5.test.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-5.test.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-5.train.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-5.train.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-5.validation.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-5.validation.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-6.test.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-6.test.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-6.train.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-6.train.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-6.validation.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-6.validation.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-7.test.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-7.test.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-7.train.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-7.train.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-7.validation.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-7.validation.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-8.test.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-8.test.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-8.train.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-8.train.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-8.validation.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-8.validation.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-9.test.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-9.test.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-9.train.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-9.train.txt
  inflating: datasets/TwADR-L/TwADR-L.fold-9.validation.txt
  inflating: __MACOSX/datasets/TwADR-L/._TwADR-L.fold-9.validation.txt

In [ ]:
# Step 1: I have combined examples in training, validation, test data from the real data set.
import glob
result_data_set =  pd.DataFrame()
for dataset in ['TwADR-L', 'AskAPatient']:
    result_label = {}
    df_k = pd.DataFrame()
    for filepath in glob.glob('/content/datasets/{}/*.txt'.format(dataset)):
        data = pd.read_csv(filepath, sep = "\t", header = None, encoding= 'unicode_escape')
        df_k = df_k.append(data)
        
    df_k = df_k.reset_index(drop=True)
    df_k['phrase_label'] = df_k[1] + " " + df_k[2]
    df_k.columns = ['id', 'labels', 'phrases', 'phrase-label']
    df_k = df_k.astype({"id": str})
       
    for columns in df_k.columns:
        df_k[columns] = df_k[columns].str.lower() 

    # dropping duplicates
    df_k = df_k.drop_duplicates('phrase-label')

    # storing results of the table in dictionary
    result_label['Unique_phrases'] = str(len(df_k['phrases'].unique()))
    result_label['Unique_labels'] = str(len(df_k['labels'].unique()))
    result_label['Unique_phrase_label_pairs'] = str(df_k.shape[0])
    df1_phrase = pd.DataFrame(df_k['phrases'].value_counts())
    result_label['Phrases with multiple labels'] = str(df1_phrase[df1_phrase['phrases'] > 1].shape[0])
    result_label['Min examples per label'] = str(df_k['labels'].value_counts().values.min())
    result_label['Max examples per label'] = str(df_k['labels'].value_counts().values.max())
    result_label['Avg examples per label'] = round(df_k['labels'].value_counts().mean(),2)
    result_data_set = result_data_set.append(result_label, ignore_index=True)


result_data_set = result_data_set.T
# result_df.iloc[0:6].astype(int)
    
result_data_set.columns_k = ['TwADR-L', 'AskAPatient']
#This line prints the result of the dataset
result_data_set

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:37: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access

                                 0     1
Unique_phrases                2944  4470
Unique_labels                 2220  1038
Unique_phrase_label_pairs     3157  4507
Phrases with multiple labels   173    35
Min examples per label           1     1
Max examples per label          36   141
Avg examples per label        1.42  4.34

In [25]:
# 2.)Here we have printing the column data of all the rows and importing glob pacakge
#imported the glob package
import glob
res_kc = pd.DataFrame()
#iterate through both the  datasets 
for dataset in ['TwADR-L', 'AskAPatient']:
    df_uniques = pd.DataFrame()
    res_sc = {}
    for filepath in glob.glob('/content/datasets/{}/*.txt'.format(dataset)):
        data = pd.read_csv(filepath, sep = "\t", header = None, encoding= 'unicode_escape')
        df_uniques = df_uniques.append(data)
    #created combined data frame by combining Each dataset into text files.
    df_uniques = df_uniques.reset_index(drop=True)
    df_uniques['phrase_label'] = df_uniques[1] + " " + df_uniques[2]
    df_uniques.columns = ['id', 'labels', 'phrases', 'phrase-label']
    #print(df.shape) code to print the shape of the data that is size
    df_uniques = df_uniques.astype({"id": str})
    # converting into lower case using lower function
    for columns in df_uniques.columns:
        df_uniques[columns] = df_uniques[columns].str.lower() 

    #dropped the  duplicates which are phrase label pairs... 
    df_uniques = df_uniques.drop_duplicates('phrase-label')

    index_list = []
    for i in range(df_uniques.shape[0]):
        if df_uniques['labels'].value_counts()[df_uniques.iloc[i]['labels']] < 5:
            index_list.append(i)

    # dropped the labels which are less than count of 5.
    df_uniques.drop(df_uniques.index[index_list], inplace=True)
    resultss = {}

    if dataset == 'TwADR-L':
      Twt_df = df_uniques
    else:
      Ask_df = df_uniques
 
    # storing the results of the table in dict
    resultss['Unique_phrases'] = str(len(df_uniques['phrases'].unique()))
    resultss['Unique_labels'] = str(len(df_uniques['labels'].unique()))
    resultss['Unique_phrase_label_pairs'] = str(df_uniques.shape[0])
    dataf1_sk = pd.DataFrame(df_uniques['phrases'].value_counts())
    resultss['Phrases with multiple labels'] = str(dataf1_sk[dataf1_sk['phrases'] > 1].shape[0])
    resultss['Min examples per label'] = str(df_uniques['labels'].value_counts().values.min())
    resultss['Max examples per label'] = str(df_uniques['labels'].value_counts().values.max())
    resultss['Avg examples per label'] = round(df_uniques['labels'].value_counts().mean(), 2)
    # appending the data from dict to data-frame
    res_kc = res_kc.append(resultss, ignore_index=True)

res_kc = res_kc.T
res_kc.columns = ['TwADR-L', 'AskAPatient']


res_kc

                             TwADR-L AskAPatient
Unique_phrases                   616        2665
Unique_labels                     76         233
Unique_phrase_label_pairs        721        2686
Phrases with multiple labels      87          19
Min examples per label             5           5
Max examples per label            36         141
Avg examples per label          9.49       11.53

In [28]:
#3)#divided all examples without multiple labels into random 10 folds from the above theory
from sklearn.model_selection import KFold
Xs = np.array(df)
print('\nconfirm results with scikit-learn')
kframe = KFold(n_splits = 10, shuffle = True, random_state = 4312)
for train_index, test_index in kframe.split(Xs):
    print("TRAIN:", train_index, "TEST:", test_index)
    X_train, X_test = Xs[train_index], Xs[test_index]




# create a binary classification dataset
from numpy import unique
from sklearn.datasets import make_classification
# generate 2 class dataset
X, yeild = make_classification(n_samples=1000, n_classes=2, weights=[0.99, 0.01], flip_y=0, random_state=1)
# summarize dataset
classes = unique(yeild)
total_data = len(yeild)
for pair in classes:
	n_examples_label = len(yeild[yeild==pair])
	percent_folds = n_examples_label / total_data * 100
	print('> Class=%d : %d/%d (%.1f%%)' % (c, n_examples, total, percent_folds))

confirm results with scikit-learn
TRAIN: [   0    1    2 ... 2683 2684 2685] TEST: [  28   29   40   46   63   69   75   85  106  131  142  148  156  158
  169  172  177  182  190  208  226  228  243  253  265  267  275  286
  311  317  326  331  334  336  339  341  351  356  362  363  380  386
  405  408  411  415  427  473  484  503  510  512  526  539  543  553
  554  557  565  570  586  595  603  609  616  631  643  666  714  717
  734  757  762  797  804  827  842  858  860  874  883  890  909  929
  932  935  942  953  971  976  986  996 1018 1019 1048 1065 1070 1080
 1088 1091 1092 1104 1105 1114 1119 1139 1146 1150 1153 1174 1176 1185
 1188 1220 1223 1274 1293 1306 1310 1311 1314 1317 1321 1322 1324 1359
 1366 1373 1381 1388 1392 1399 1406 1417 1442 1463 1473 1488 1493 1495
 1496 1497 1499 1503 1505 1510 1521 1536 1548 1570 1573 1579 1580 1582
 1603 1606 1608 1626 1628 1645 1649 1654 1655 1662 1667 1670 1701 1702
 1709 1782 1785 1790 1792 1818 1843 1845 1846 1856 1868 1878 1879 1890
 1892 1895 1896 1919 1923 1926 1933 1939 1940 1944 1946 1968 1976 1977
 1979 1984 1988 2012 2015 2038 2041 2049 2075 2085 2093 2128 2145 2158
 2160 2173 2176 2194 2209 2219 2223 2225 2226 2229 2257 2282 2283 2286
 2296 2304 2336 2342 2344 2347 2353 2386 2390 2399 2403 2417 2425 2428
 2430 2453 2455 2458 2464 2484 2487 2492 2493 2494 2495 2504 2507 2510
 2524 2525 2526 2529 2542 2545 2558 2580 2591 2600 2614 2615 2630 2645
 2647 2648 2663]
TRAIN: [   0    1    3 ... 2682 2684 2685] TEST: [   2   13   14   24   34   36   43   62   66   78   84   95   97  103
  117  118  126  151  153  166  171  173  176  186  187  195  196  198
  202  211  244  259  271  274  281  291  295  297  307  310  315  327
  332  400  401  425  463  478  506  509  514  519  524  533  555  561
  568  571  577  578  580  587  588  612  613  622  630  632  633  634
  635  649  661  674  690  695  699  730  735  738  740  745  747  751
  768  776  788  801  815  817  835  838  841  856  859  865  869  882
  889  896  905  916  928  930  939  957  962  966  974  980  987  989
 1016 1021 1058 1062 1064 1103 1108 1128 1132 1138 1142 1151 1154 1157
 1160 1184 1189 1196 1228 1245 1249 1278 1281 1297 1304 1323 1338 1351
 1375 1416 1421 1430 1436 1437 1453 1455 1462 1470 1484 1507 1515 1518
 1522 1546 1549 1555 1575 1587 1598 1607 1610 1615 1627 1636 1657 1660
 1675 1695 1703 1705 1708 1713 1715 1721 1742 1747 1752 1756 1758 1760
 1777 1779 1784 1794 1798 1799 1805 1806 1825 1840 1844 1848 1853 1867
 1869 1894 1899 1934 1950 1953 1956 1962 1971 1983 1992 2007 2010 2014
 2021 2022 2030 2036 2042 2047 2050 2052 2053 2065 2070 2086 2088 2092
 2098 2101 2108 2109 2110 2118 2131 2138 2167 2171 2210 2211 2216 2224
 2246 2254 2264 2265 2278 2279 2317 2330 2340 2356 2376 2388 2394 2412
 2433 2437 2477 2479 2509 2536 2544 2549 2555 2563 2597 2611 2621 2639
 2671 2674 2683]
TRAIN: [   0    1    2 ... 2683 2684 2685] TEST: [   5   16   17   22   26   44   49   73   86   91   96  114  119  124
  136  138  147  157  184  191  200  201  205  217  219  224  229  238
  252  279  280  287  289  304  305  320  323  348  352  355  358  388
  397  399  414  417  431  452  458  459  460  464  466  475  476  481
  500  507  511  530  532  538  547  556  563  590  592  611  646  648
  656  665  676  677  685  687  694  703  750  752  755  770  779  790
  798  814  825  832  847  848  849  850  864  868  876  893  927  943
  949  952  956  958  968  983 1007 1009 1035 1044 1047 1052 1067 1068
 1071 1082 1086 1089 1096 1097 1127 1129 1136 1143 1161 1163 1170 1177
 1180 1183 1204 1207 1217 1225 1242 1246 1250 1280 1316 1320 1331 1334
 1345 1348 1356 1357 1358 1365 1369 1371 1378 1380 1397 1398 1400 1414
 1415 1420 1422 1474 1478 1501 1520 1530 1535 1562 1565 1588 1602 1617
 1629 1637 1659 1672 1673 1696 1700 1716 1725 1761 1764 1772 1774 1778
 1786 1807 1812 1814 1826 1838 1861 1866 1870 1891 1991 1994 1997 2004
 2016 2027 2032 2034 2040 2043 2051 2056 2078 2083 2087 2099 2106 2133
 2136 2152 2153 2162 2179 2185 2186 2195 2202 2206 2217 2221 2238 2240
 2274 2289 2293 2301 2315 2316 2324 2327 2362 2363 2367 2370 2372 2382
 2393 2406 2409 2413 2419 2429 2452 2457 2465 2471 2481 2505 2511 2512
 2531 2535 2565 2573 2577 2592 2598 2599 2602 2605 2613 2633 2637 2643
 2657 2659 2681]
TRAIN: [   0    2    4 ... 2682 2683 2685] TEST: [   1    3   21   25   48   70   72   93  111  125  127  128  133  134
  141  145  160  170  178  181  199  204  213  220  230  239  247  250
  256  273  312  314  333  359  361  377  381  382  395  407  413  433
  435  436  438  441  445  447  456  462  467  485  498  501  502  513
  550  567  569  576  591  604  618  620  625  639  644  645  651  658
  672  680  689  708  716  726  732  739  742  756  771  773  784  785
  786  796  816  822  839  852  863  871  892  899  915  924  926  937
  947  954  959  967  982  993  994 1006 1010 1017 1036 1045 1046 1055
 1056 1061 1078 1100 1115 1122 1172 1209 1215 1227 1236 1239 1248 1256
 1257 1267 1289 1294 1303 1339 1350 1367 1386 1391 1395 1401 1404 1409
 1432 1444 1471 1477 1483 1492 1504 1506 1512 1534 1544 1552 1557 1560
 1561 1564 1567 1585 1592 1601 1646 1674 1676 1680 1688 1690 1691 1706
 1714 1717 1740 1744 1749 1762 1767 1768 1770 1783 1809 1822 1831 1837
 1847 1859 1874 1882 1893 1903 1908 1915 1917 1936 1949 1954 1966 2002
 2006 2011 2026 2028 2033 2037 2055 2061 2071 2084 2094 2096 2100 2107
 2122 2124 2135 2164 2170 2192 2197 2198 2200 2215 2220 2227 2248 2249
 2259 2262 2268 2287 2297 2303 2313 2319 2320 2326 2352 2354 2377 2389
 2398 2410 2415 2435 2460 2483 2508 2516 2517 2520 2521 2530 2546 2552
 2562 2570 2571 2581 2583 2589 2616 2624 2627 2636 2638 2649 2651 2653
 2666 2668 2684]
TRAIN: [   0    1    2 ... 2683 2684 2685] TEST: [  11   15   30   32   42   47   65   71   87   89  112  121  143  150
  159  163  215  260  262  270  284  294  298  300  313  338  345  367
  379  392  394  410  420  421  423  424  429  443  454  480  486  491
  494  496  499  504  518  521  545  552  559  564  573  601  610  624
  626  641  652  657  660  673  678  686  691  704  706  723  727  736
  737  744  746  753  760  769  775  778  787  793  800  812  819  826
  831  837  840  846  854  867  872  877  878  888  897  903  907  908
  919  925  941  964  988  990  998 1002 1004 1013 1025 1027 1033 1039
 1041 1042 1057 1059 1066 1095 1106 1112 1117 1118 1125 1148 1149 1156
 1168 1171 1175 1191 1198 1218 1221 1232 1241 1261 1269 1282 1284 1307
 1319 1337 1347 1355 1364 1370 1374 1379 1389 1396 1429 1433 1435 1454
 1459 1487 1553 1571 1605 1622 1632 1638 1658 1681 1682 1692 1693 1697
 1723 1729 1732 1734 1739 1755 1766 1788 1804 1810 1811 1849 1850 1854
 1860 1864 1872 1875 1877 1885 1887 1902 1935 1941 1942 1965 1970 1982
 1985 1986 1998 2008 2017 2020 2025 2031 2046 2048 2057 2104 2116 2129
 2139 2147 2161 2169 2172 2180 2181 2193 2214 2218 2231 2244 2251 2281
 2290 2292 2309 2318 2341 2357 2359 2365 2374 2375 2383 2387 2392 2396
 2397 2401 2408 2411 2440 2446 2473 2474 2491 2498 2500 2501 2502 2519
 2537 2550 2554 2568 2572 2576 2578 2588 2601 2608 2612 2619 2632 2650
 2656 2667 2676]
TRAIN: [   0    1    2 ... 2683 2684 2685] TEST: [  19   37   38   41   55   76   77   88   90   99  104  129  130  132
  139  140  144  155  161  165  183  185  193  194  206  223  225  231
  242  251  254  264  277  288  293  296  318  321  322  335  346  349
  364  365  372  391  402  409  418  422  428  437  449  489  516  523
  525  527  560  579  596  606  617  621  642  647  650  653  662  664
  667  668  670  679  682  683  693  731  749  758  759  764  767  780
  781  807  809  829  833  844  845  887  901  918  922  934  940  944
  945  973  977  978  979  985 1031 1037 1040 1051 1076 1083 1093 1094
 1109 1113 1126 1130 1134 1144 1158 1187 1193 1194 1197 1201 1202 1206
 1229 1244 1263 1268 1275 1276 1287 1288 1301 1318 1342 1343 1382 1410
 1425 1431 1438 1439 1440 1441 1448 1451 1456 1481 1482 1486 1494 1508
 1509 1537 1538 1554 1559 1577 1589 1594 1609 1616 1618 1624 1631 1643
 1647 1652 1665 1671 1686 1698 1704 1748 1750 1776 1781 1791 1796 1816
 1858 1881 1897 1916 1925 1932 1938 1943 1952 1960 1972 1974 1975 1989
 1990 2029 2045 2059 2060 2063 2064 2066 2079 2089 2112 2140 2144 2149
 2151 2155 2159 2163 2166 2168 2177 2183 2184 2203 2208 2239 2241 2255
 2256 2273 2288 2291 2298 2299 2300 2306 2335 2338 2349 2350 2358 2360
 2402 2407 2416 2434 2436 2441 2442 2444 2448 2451 2461 2467 2468 2482
 2488 2489 2506 2515 2528 2533 2551 2557 2569 2575 2579 2594 2625 2641
 2661 2673 2679]
TRAIN: [   1    2    3 ... 2683 2684 2685] TEST: [   0    4    6   18   23   45   52   56   57   60   68   82   83  120
  146  149  152  154  168  174  203  207  210  212  218  222  234  235
  237  245  255  268  269  282  301  309  329  337  344  350  353  354
  366  374  403  419  430  434  444  448  457  471  474  477  482  483
  488  493  508  517  520  528  531  537  544  558  574  583  597  605
  623  627  628  638  655  659  671  688  697  701  705  713  720  724
  725  754  761  782  802  806  808  811  824  834  836  853  855  879
  880  881  886  894  902  914  931  946  948  960  981  984 1000 1011
 1028 1049 1050 1053 1073 1074 1075 1077 1087 1090 1098 1107 1116 1120
 1131 1133 1145 1159 1181 1186 1205 1213 1222 1226 1231 1252 1255 1260
 1265 1286 1292 1296 1305 1333 1361 1387 1408 1427 1452 1458 1480 1485
 1490 1500 1514 1526 1527 1539 1551 1574 1576 1595 1641 1664 1720 1724
 1728 1730 1745 1754 1763 1797 1813 1819 1821 1824 1830 1832 1833 1835
 1839 1851 1865 1871 1880 1888 1900 1901 1912 1918 1922 1927 1947 1948
 1958 1963 1967 1969 1993 1996 2000 2009 2013 2039 2073 2115 2130 2134
 2142 2146 2148 2157 2165 2188 2191 2201 2230 2243 2245 2252 2260 2261
 2263 2266 2270 2271 2302 2323 2333 2343 2379 2381 2385 2391 2414 2427
 2431 2432 2438 2454 2466 2470 2485 2486 2496 2499 2522 2523 2539 2540
 2548 2567 2582 2585 2587 2593 2603 2610 2622 2623 2626 2631 2642 2644
 2662 2670]
TRAIN: [   0    1    2 ... 2683 2684 2685] TEST: [   9   27   33   35   39   50   51   58   59   64   79   94   98  100
  109  116  123  135  164  175  179  188  197  209  214  236  240  241
  257  258  263  266  290  302  306  316  325  340  342  343  357  360
  368  371  373  375  376  393  404  442  465  470  472  495  536  546
  551  566  589  594  599  600  615  636  684  719  721  722  743  748
  763  765  777  783  789  799  820  821  828  843  851  885  895  906
  910  912  923  936  950  963  972  999 1001 1008 1014 1024 1026 1032
 1034 1038 1054 1069 1084 1099 1101 1110 1121 1123 1135 1137 1140 1152
 1162 1165 1166 1173 1179 1200 1219 1224 1230 1234 1240 1243 1247 1251
 1253 1262 1272 1273 1279 1312 1325 1328 1329 1330 1353 1377 1384 1403
 1418 1424 1426 1449 1460 1461 1466 1468 1472 1476 1479 1513 1517 1519
 1524 1531 1532 1540 1542 1581 1590 1593 1599 1600 1604 1614 1623 1639
 1666 1677 1685 1687 1694 1699 1710 1722 1731 1735 1736 1746 1753 1775
 1787 1793 1800 1801 1834 1852 1857 1883 1889 1898 1904 1914 1921 1924
 1931 1959 1964 1980 1981 1987 2035 2062 2072 2074 2082 2090 2091 2113
 2127 2150 2156 2182 2189 2196 2199 2204 2205 2222 2232 2233 2237 2247
 2258 2267 2275 2276 2277 2285 2294 2295 2322 2328 2329 2331 2337 2346
 2364 2373 2378 2380 2384 2418 2426 2439 2450 2490 2497 2503 2534 2541
 2543 2559 2560 2564 2566 2574 2584 2586 2607 2617 2620 2646 2660 2664
 2678 2682]
TRAIN: [   0    1    2 ... 2682 2683 2684] TEST: [   7    8   20   31   53   54   67   80   81  101  105  110  113  162
  167  180  192  233  246  248  272  278  283  285  292  299  328  330
  370  378  383  387  389  396  412  426  440  446  450  451  469  505
  522  541  548  562  572  584  602  607  608  640  675  681  696  698
  700  702  709  712  715  728  729  733  741  766  774  791  794  795
  805  810  823  866  873  875  891  904  911  920  965  970  975  991
  992  997 1012 1015 1029 1030 1043 1072 1079 1085 1155 1164 1178 1182
 1190 1195 1199 1203 1211 1212 1216 1233 1237 1254 1266 1277 1285 1298
 1302 1332 1335 1340 1341 1344 1346 1349 1352 1354 1360 1362 1368 1372
 1383 1393 1394 1405 1407 1411 1434 1443 1445 1450 1457 1464 1469 1475
 1502 1511 1523 1525 1529 1533 1543 1547 1550 1556 1566 1568 1572 1591
 1611 1612 1620 1625 1634 1642 1644 1653 1656 1661 1668 1669 1678 1684
 1689 1707 1712 1718 1719 1726 1727 1738 1743 1757 1759 1765 1771 1789
 1808 1815 1820 1823 1829 1841 1842 1863 1876 1886 1909 1910 1913 1920
 1928 1929 1930 1937 1951 1955 1957 1961 1973 2005 2023 2044 2054 2058
 2067 2077 2111 2120 2121 2125 2132 2141 2143 2154 2174 2178 2187 2207
 2235 2242 2253 2269 2272 2280 2284 2308 2310 2311 2321 2332 2334 2339
 2345 2348 2351 2355 2368 2404 2405 2447 2449 2456 2469 2472 2475 2476
 2480 2532 2538 2553 2556 2561 2590 2595 2604 2606 2609 2629 2634 2635
 2680 2685]
TRAIN: [   0    1    2 ... 2683 2684 2685] TEST: [  10   12   61   74   92  102  107  108  115  122  137  189  216  221
  227  232  249  261  276  303  308  319  324  347  369  384  385  390
  398  406  416  432  439  453  455  461  468  479  487  490  492  497
  515  529  534  535  540  542  549  575  581  582  585  593  598  614
  619  629  637  654  663  669  692  707  710  711  718  772  792  803
  813  818  830  857  861  862  870  884  898  900  913  917  921  933
  938  951  955  961  969  995 1003 1005 1020 1022 1023 1060 1063 1081
 1102 1111 1124 1141 1147 1167 1169 1192 1208 1210 1214 1235 1238 1258
 1259 1264 1270 1271 1283 1290 1291 1295 1299 1300 1308 1309 1313 1315
 1326 1327 1336 1363 1376 1385 1390 1402 1412 1413 1419 1423 1428 1446
 1447 1465 1467 1489 1491 1498 1516 1528 1541 1545 1558 1563 1569 1578
 1583 1584 1586 1596 1597 1613 1619 1621 1630 1633 1635 1640 1648 1650
 1651 1663 1679 1683 1711 1733 1737 1741 1751 1769 1773 1780 1795 1802
 1803 1817 1827 1828 1836 1855 1862 1873 1884 1905 1906 1907 1911 1945
 1978 1995 1999 2001 2003 2018 2019 2024 2068 2069 2076 2080 2081 2095
 2097 2102 2103 2105 2114 2117 2119 2123 2126 2137 2175 2190 2212 2213
 2228 2234 2236 2250 2305 2307 2312 2314 2325 2361 2366 2369 2371 2395
 2400 2420 2421 2422 2423 2424 2443 2445 2459 2462 2463 2478 2513 2514
 2518 2527 2547 2596 2618 2628 2640 2652 2654 2655 2658 2665 2669 2672
 2675 2677]
> Class=1 : 10/1000 (99.0%)
> Class=1 : 10/1000 (1.0%)